@import "tailwindcss";

@theme {
  --font-body: "Poppins", sans-serif;
  --font-heading: "Playfair Display", serif;

  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-muted: #6b7280;
  --color-dark: #111827;
  --color-primary: #4a9c3e;
  --color-secondary: #6b4e3d;
  --color-accent: #ffcc33;

  --spacing-container: 1.5rem;
  --spacing-section: 6rem;
  --spacing-contact: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-dark;
}
